$white: #fff;
$displayFont: 'Amatic SC', cursive;
$defaultFont: 'Merriweather', serif;

$offwhite: #FFFFF6;
$black: #2C2C2C;
$gray: #ccc;


body {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    line-height: 1.7;
    background: $offwhite;
    color: $black;
}

a {
    color: $black;
}

.container {
    @include outer-container;

    @media screen and (max-width: 1160px) {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.heading {
    font-family: $displayFont;
    font-size: 38px;
    color: $white;
}

.pageHeading {
    font-family: $displayFont;
}


