.destinations {
    margin-top: -32px;
    background: $white;
    position: relative;

    @media screen and (max-width: $vp-sm-max) {
        margin-top: 0;
    }

    @media screen and (max-width: 479px) {
        padding-left: 0;
        padding-right: 0;
    }

    // .section {
    //     margin-bottom: 30px;

    //     h1.pageHeading {
    //         font-weight: 900;
    //         text-align: center;
    //         font-family: $displayFont;
    //         font-weight: 900;
    //         text-decoration: none;
    //         background: #fefefe;
    //         margin: -30px -20px 45px -20px;
    //         border-top: 6px solid $secondary-color;



    //         a {
    //             text-decoration: none;
    //             display: block;
    //             padding: 15px 0;
    //         }

    //     }
    // }

    .countryWrapper {
        @include span-columns(6 of 12);
        background: $light-gray;
        border-top: 6px solid $secondary-color;
        text-align: center;
        margin-bottom: 35px;
        // box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);

        @media screen and (max-width: $vp-md-max) {
            @include span-columns(12 of 12);
            box-shadow: 0 none;
        }

        @media screen and (max-width: 479px) {
            margin-bottom: 0;
        }

        &:nth-child(even) {
            @include omega();
        }

        &--LatinAmerica {
            margin-top: -550px;

            @media screen and (max-width: $vp-md-max) {
                margin-top: 0;
            }
        }

        &--MiddleEast {
            margin-top: -125px;
            margin-right: 2.55507% !important;
            
            @media screen and (max-width: $vp-md-max) {
                margin-top: 0;
                margin-right: 0;
            }

        }


        &--UnitedStates {
            margin-top: -275px;

            @media screen and (max-width: $vp-md-max) {
                margin-top: 0;
            }
        }

        .pageHeading {
            text-align: center;
            background: $white;
            padding: 10px 0 4px 0;
            margin: 0 0 30px 0;

            a {
                text-decoration: none;
            }
        }
    }
}

.destinationsnew {

    // @media screen and (max-width: $vp-lg-max) {
    //     1199px
    //     background: red;
    // }

    // @media screen and (max-width: $vp-md-max) {
    //     991px
    //     background: blue;
    // }


    a {
        color: #3C3C3C;
    }

    &__sidebar {
        @include span-columns(3 of 10);
        background: #F1F1F1;
        padding: 35px 0;
        // border-top: 7px solid $secondary-color;
        position: relative;

        @media screen and (max-width: $vp-sm-max) {
            display: none;
        }

        ul.sidebarList {
            position: relative;
            margin: 0;
            padding: 0;
            list-style: none;

            a:hover,
            a:active,
            a:focus {
                color: $secondary-color;
            }


            & > li {
                margin-bottom: 10px;

                & > a {
                    text-decoration: none;
                    font-size: 24px;
                    margin-left: 35px;

                    @media screen and (max-width: $vp-md-max) {
                        font-size: 22px;
                        margin-left: 25px;
                    }
                }

                &.active {
                    & > a {
                        color: $secondary-color;
                    }
                }

                & > ul {
                    font-size: 15px;
                    list-style: none;
                    display: none;
                    padding: 25px 10px 5px 25px;
                    margin: 0;


                    li {
                        margin-bottom: 18px;

                        @media screen and (max-width: $vp-md-max) {
                            margin-bottom: 15px;
                        }

                        a {
                            font-size: 18px;
                            margin-left: 35px;
                            text-decoration: none;
                            display: block;
                            line-height: 1.2;
                            position: relative;

                            @media screen and (max-width: $vp-md-max) {
                                font-size: 17px;
                                margin-left: 15px;
                            }

                            &:before {
                                content: " ";
                                position: absolute;
                                left: -18px;
                                top: 7px;
                                width: 4px;
                                height: 4px;
                                background: $secondary-color;
                                border-radius: 15px;
                            }                            
                        }
                    }
                }

                &.active {
                    & > ul {
                        display: block;
                        background: #E3E3E3;
                    }
                }
            }

            &.is--sticky {
                position: fixed;
                top: 35px;

                &.is--bottom {
                    position: absolute;
                    top: initial;
                    bottom: 0;
                }
            }  
        }

    }

    &__main {
        @include span-columns(7 of 10);
        @include omega();

        @media screen and (max-width: $vp-sm-max) {
            width: 100%;
            float: none;
            margin-right: 0;
        }


        .locationWidgetnewWrapper {

            .locationWidgetnew {
                @include span-columns(4 of 12);

                @media screen and (min-width: 581px) {
                    &:nth-child(3n) {
                        @include omega();
                    }
                }

                @media screen and (max-width: 580px) {
                    @include span-columns(6 of 12);

                    &:nth-child(even) {
                        @include omega();
                    }
                }

                @media screen and (max-width: 380px) {
                    @include span-columns(12 of 12);
                    margin-left: auto;
                    margin-right: auto;
                    float: none;

                    &:nth-child(even),
                    &:last-child {
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            
                // &.locationWidgetnew--viewAll {
                //     @media screen and (max-width: 380px) {
                //         display: none;
                //     }
                // }
            }
        }
    }

    &Country {
        padding-bottom: 100px;

        @media screen and (max-width: $vp-lg-max) {
            padding-bottom: 75px;
        }

        @media screen and (max-width: $vp-md-max) {
            padding-bottom: 60px;
        }

        // &__img {
        //     margin-left: -35px;
        //     border-top: 7px solid #2693BB;

        //     @media screen and (max-width: $vp-lg-max) {
        //         margin-left: -4.6%;
        //         max-width: 104.6%;
        //         height: auto;
        //         display: inline-block;
        //     }

        //     @media screen and (max-width: $vp-sm-max) {
        //         display: none;
        //     }

        // }

        &__header {
            border-top: 7px solid #2693BB;
            margin-bottom: 45px;
            position: relative;
            text-shadow: 0 0.3em 10px rgba(0, 0, 0, 0.9);

            @media screen and (max-width: $vp-sm-max) {
                height: 185px;
                overflow: hidden;
            }
            
            @media screen and (max-width: 580px) {
                margin-bottom: 10px;
                padding-top: 5px;
                height: auto;
            }

            // &:after {
            //     content: " ";
            //     position: absolute;
            //     left: 0;
            //     top: 0;
            //     width: 100%;
            //     height: 100%;
            //     background: rgba(0, 0, 0, 0.3);
            // }

            &.parallax-window {
                opacity: 1;

                @media screen and (max-width: 580px) {
                    display: none;
                }

                .parallax-static-content {
                    @media screen and (max-width: $vp-sm-max) { 
                        display: block !important;
                    }
                }
            }

            h1 {
                position: absolute;
                width: 100%;
                top: 35%;
                color: #fff;
                font-size: 58px;
                margin: 0;
                font-family: $displayFont;
                letter-spacing: 2px;
                text-align: center;
                z-index: 2;

                @media screen and (max-width: $vp-md-max) {
                    font-size: 52px;
                    top: 30%;
                }

                @media screen and (max-width: $vp-sm-max) { 
                    font-size: 48px;
                    top: 35%;
                }

                // span {
                //     color: #3c3c3c;
                //     padding: 10px 14px 4px;
                //     display: inline-block;
                //     line-height: 1;
                //     background: rgba(255,255,255,0.92);

                //     @media screen and (max-width: 580px) {
                //         background: none;
                //     }
                // }
            }

            img {
                margin-bottom: -10px;

                // @media screen and (max-width: 580px) {
                //     display: none;
                // }       
            }
        }


        .destinationsnewCountry__header--mobile {
            display: none;

            @media screen and (max-width: 580px) {
                display: block;
                border-top: 7px solid $secondary-color;
                font-size: 36px;
                // font-family: $displayFont;
                text-align: center;
                margin: 0 0 10px 0;
                padding: 10px 5px;                
            }
           
            @media screen and (max-width: 380px) {
                font-size: 30px;
            }
        }


        &__heading {
            font-size: 32px;
            color: #3C3C3C;
            border-bottom: 1px solid;

            @media screen and (max-width: $vp-md-max) {
                font-size: 29px;
            }

            a {
                font-size: 18px;
                float: right;
                font-weight: 400;
                margin-top: 17px;
                text-decoration: none;
                color: $secondary-color;

                @media screen and (max-width: $vp-md-max) {
                    margin-top: 14px;
                    font-size: 17px;
                }

                @media screen and (max-width: $vp-sm-max) {
                    display: none;
                }
            }
        }

        // a.destinationsnewCountry__viewAll {
        //     color: $secondary-color;
        //     display: none;
        //     text-align: center;

        //     @media screen and (max-width: 380px) {
        //         display: block;
        //     }
        // }
    }
}


