.destinations {
    margin-top: -32px;
    background: $white;
    position: relative;

    @media screen and (max-width: $vp-sm-max) {
        margin-top: 0;
    }

    @media screen and (max-width: 479px) {
        padding-left: 0;
        padding-right: 0;
    }

    // .section {
    //     margin-bottom: 30px;

    //     h1.pageHeading {
    //         font-weight: 900;
    //         text-align: center;
    //         font-family: $displayFont;
    //         font-weight: 900;
    //         text-decoration: none;
    //         background: #fefefe;
    //         margin: -30px -20px 45px -20px;
    //         border-top: 6px solid $secondary-color;



    //         a {
    //             text-decoration: none;
    //             display: block;
    //             padding: 15px 0;
    //         }

    //     }
    // }

    .countryWrapper {
        @include span-columns(6 of 12);
        background: $light-gray;
        border-top: 6px solid $secondary-color;
        text-align: center;
        margin-bottom: 35px;
        // box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);

        @media screen and (max-width: $vp-md-max) {
            @include span-columns(12 of 12);
            box-shadow: 0 none;
        }

        @media screen and (max-width: 479px) {
            margin-bottom: 0;
        }

        &:nth-child(even) {
            @include omega();
        }

        &--UnitedStates {
            margin-top: -550px;

            @media screen and (max-width: $vp-md-max) {
                margin-top: 0;
            }
        }

        .pageHeading {
            text-align: center;
            background: $white;
            padding: 10px 0 4px 0;
            margin: 0 0 30px 0;

            a {
                text-decoration: none;
            }
        }
    }
}
