.destinations {
    margin-top: -32px;
    background: $white;
    position: relative;

    @media screen and (max-width: $vp-sm-max) {
        margin-top: 0;
    }

    @media screen and (max-width: 479px) {
        padding-left: 0;
        padding-right: 0;
    }

    // .section {
    //     margin-bottom: 30px;

    //     h1.pageHeading {
    //         font-weight: 900;
    //         text-align: center;
    //         font-family: $displayFont;
    //         font-weight: 900;
    //         text-decoration: none;
    //         background: #fefefe;
    //         margin: -30px -20px 45px -20px;
    //         border-top: 6px solid $secondary-color;



    //         a {
    //             text-decoration: none;
    //             display: block;
    //             padding: 15px 0;
    //         }

    //     }
    // }

    .countryWrapper {
        @include span-columns(6 of 12);
        background: $light-gray;
        border-top: 6px solid $secondary-color;
        text-align: center;
        margin-bottom: 35px;
        // box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);

        @media screen and (max-width: $vp-md-max) {
            @include span-columns(12 of 12);
            box-shadow: 0 none;
        }

        @media screen and (max-width: 479px) {
            margin-bottom: 0;
        }

        &:nth-child(even) {
            @include omega();
        }

        &--LatinAmerica {
            margin-top: -550px;

            @media screen and (max-width: $vp-md-max) {
                margin-top: 0;
            }
        }

        &--MiddleEast {
            margin-top: -125px;
            margin-right: 2.55507% !important;
            
            @media screen and (max-width: $vp-md-max) {
                margin-top: 0;
                margin-right: 0;
            }

        }


        &--UnitedStates {
            margin-top: -275px;

            @media screen and (max-width: $vp-md-max) {
                margin-top: 0;
            }
        }

        .pageHeading {
            text-align: center;
            background: $white;
            padding: 10px 0 4px 0;
            margin: 0 0 30px 0;

            a {
                text-decoration: none;
            }
        }
    }
}

.destinationsnew {
    border-top: 7px solid $secondary-color;

    a {
        color: #3C3C3C;
    }

    &__sidebar {
        @include span-columns(3 of 10);
        background: #F1F1F1;
        padding: 35px 0;

        ul.sidebarList {
            position: relative;
            margin: 0;
            padding: 0;
            list-style: none;

            & > li {
                margin-bottom: 10px;

                a {
                    text-decoration: none;
                    font-size: 24px;
                    margin-left: 35px;
                }

                & > ul {
                    font-size: 15px;
                    list-style: none;
                    display: none;
                    padding: 15px 0 10px 25px;
                    margin: 0;


                    li {
                        margin-bottom: 5px;

                        a {
                            font-size: 18px;
                        }
                    }
                }

                &.active {
                    & > ul {
                        display: block;
                        background: #E3E3E3;
                    }
                }
            }

            &.is--sticky {
                position: fixed;
                top: 35px;
            }  
        }

    }

    &__main {
        @include span-columns(7 of 10);
        @include omega();

        .locationWidgetnewWrapper {

            .locationWidgetnew {
                @include span-columns(4 of 12);

                &:nth-child(3) {
                    @include omega();
                }
            }
        }
    }

    &Country {
        &__img {
            margin-left: -35px;
            border-top: 7px solid #2693BB;

            &:first-child {
                margin-top: -7px;
            }
        }

        &__heading {
            font-size: 32px;
            color: #3C3C3C;
            border-bottom: 1px solid;

            a {
                font-size: 18px;
                float: right;
                font-weight: 400;
                margin-top: 17px;
                text-decoration: none;
                color: $secondary-color;
            }

        }
    }
}


