.postWidget__wrapper {
    @include clearfix;
}

.btnWrapper {
    text-align: right;

    @media screen and (max-width: $vp-sm-max) {
        text-align: center;
    }
}

.index {

    .indexHeader {
        margin-bottom: 25px;

        .owl-carousel.owl-theme {
            @media screen and (max-width: 479px) {
                display: none;
            }

            .owl-item {
                widows: 1140px;
                height: 400px;
                position: relative;

                @media screen and (max-width: $vp-lg-max) {
                    height: 331px;
                }

                @media screen and (max-width: $vp-sm-max) {
                    height: 252px;
                }

                .itemLink {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 10;

                    &:before {
                        content: " ";
                        background: -moz-linear-gradient(25deg,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.0) 90%);
                        background: -webkit-linear-gradient(25deg,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.0) 90%);
                        background: linear-gradient(25deg,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.0) 90%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#1a000000',GradientType=1 );
                        position: absolute;
                        z-index: 2;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                    }

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;

                        // @media screen and (max-width: $vp-lg-max) {
                        //     width: 942px;
                        // }

                        @media screen and (max-width: $vp-md-max) {
                           height: 331px;
                           width: auto;
                        }

                        @media screen and (max-width: $vp-sm-max) {
                            height: 252px;
                        }
                    }  

                    .itemContent {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: 5;
                        color: #fff;
                        padding: 35px 20px;

                        @media screen and (max-width: $vp-sm-max) {
                            padding: 25px 15px;
                        }

                        h4 {
                            margin: 0;
                            font-size: 28px;

                            @media screen and (max-width: $vp-sm-max) {
                                font-size: 24px;
                            }
                        }

                        p {
                            margin: 0;
                                @media screen and (max-width: $vp-sm-max) {
                                    font-size: 16px;
                                }
                        }
                    }      
                }
            }

            .owl-nav {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                display: none;
            }

            .owl-dots {
                position: relative;
                z-index: 5;
                text-align: right;
                padding-right: 15px;
                top: -15px;
                margin-top: -20px;

                @media screen and (max-width: $vp-sm-max) {
                    padding-right: 10px;
                    top: -225px;
                }

                .owl-dot {
                    span {
                        width: 15px;
                        height: 15px;

                        @media screen and (max-width: $vp-sm-max) {
                            width: 13px;
                            height: 13px;
                            box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
                        }
                    }

                    &.active {
                        span {
                            background: $primary-color;
                        }
                    }
                }
            }

        }
    }

    .headerContent h1 {
        @media screen and (max-width: $vp-sm-max) {
            display: none;
        }
    }

    section {
        padding-bottom: 75px;
        border-bottom: 7px solid $primary-color;
        margin-bottom: 25px;

        &:last-child {
            border-bottom: 0 none;
            margin-bottom: 0;
        }
    }

    .more.btn {
        margin-top: 25px;
        cursor: pointer;

        &.disabled {
            cursor: no-drop;

            .sk-circle {
                opacity: 1;
                width: 20px;
                height: 20px;
            }
        }

        .sk-circle {
            margin: 0 0 0 10px;
            display: inline-block;
            opacity: 0;
            width: 0;
            height: 0;
            @include transition(opacity 0.5s linear 0s, height 0.5s linear 0.5s, width 0.5s linear 0.5s);
        }
    }

    .locationWidget {
        margin: 0 2.6% 25px;

        @media screen and (max-width: $vp-lg-max) {
            margin: 0 1.5% 25px;
            width: 22.75%;
        }

        @media screen and (max-width: $vp-md-max) {
            width: 47%;
            margin: 0 2% 25px;
            max-width: 100%;
        }

        @media screen and (max-width: $vp-sm-max) {
            width: 100%;
            max-width: 436px;
            margin: 25px auto;
            display: block;
        }

        // &:first-child,
        // &.first {
        //     margin-left: 0;
        // }

        &:nth-child(2) {
            margin-left: 0;

            @media screen and (max-width: $vp-sm-max) {
                margin-left: auto;
            }
        }

        &:nth-child(3) {
            @media screen and (max-width: $vp-md-max) {
                margin-right: 0;
            }

            @media screen and (max-width: $vp-sm-max) {
                margin-right: auto;
            }

        }

        &:nth-child(4) {
            @media screen and (max-width: $vp-md-max) {
                margin-left: 0;
            }

            @media screen and (max-width: $vp-sm-max) {
                margin-left: auto;
            }

        }


        &:nth-child(5){
            margin-right: 0;

            @media screen and (max-width: $vp-sm-max) {
                margin-right: auto;
            }
        }

        img {
            margin-left: -50%;

            @media screen and (max-width: $vp-md-max) {
                margin-left: 0;
            }
        }

    }
}
