.postWidget__wrapper {
    @include clearfix;
}

.btnWrapper {
    text-align: center;
}

.index {

    .indexHeader {
        margin-bottom: 40px;

        .owl-carousel.owl-theme {
            @media screen and (max-width: 479px) {
                display: none;
            }

            .owl-item {
                widows: 1140px;
                height: 400px;
                position: relative;

                @media screen and (max-width: $vp-lg-max) {
                    height: 331px;
                }

                @media screen and (max-width: $vp-sm-max) {
                    height: 252px;
                }

                .itemLink {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 10;

                    &:before {
                        content: " ";
                        position: absolute;
                        z-index: 2;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                    }

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;

                        // @media screen and (max-width: $vp-lg-max) {
                        //     width: 942px;
                        // }

                        @media screen and (max-width: $vp-md-max) {
                           height: 331px;
                           width: auto;
                        }

                        @media screen and (max-width: $vp-sm-max) {
                            height: 252px;
                        }
                    }

                    .itemContent {
                        background: -moz-linear-gradient(10deg,  rgba(0,0,0,0.95) 0%, rgba(0,0,0,0.1) 100%);
                        background: -webkit-linear-gradient(10deg,  rgba(0,0,0,0.95) 0%,rgba(0,0,0,0.1) 100%);
                        background: linear-gradient(10deg,  rgba(0,0,0,0.95) 0%,rgba(0,0,0,0.1) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#1a000000',GradientType=1 );
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: 5;
                        color: #fff;
                        padding: 22px 20px 37px 20px;



                        @media screen and (max-width: $vp-sm-max) {

                        }

                        h4 {
                            margin: 0;
                            font-size: 28px;

                            @media screen and (max-width: $vp-sm-max) {
                                font-size: 24px;
                            }
                        }

                        p {
                            margin: 0;
                                @media screen and (max-width: $vp-sm-max) {
                                    font-size: 16px;
                                }
                        }
                    }
                }
            }

            .owl-nav {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                display: none;
            }

            .owl-dots {
                position: relative;
                z-index: 5;
                text-align: left;
                padding-right: 15px;
                padding-left: 15px;
                top: -13px;
                margin-top: -20px;


                .owl-dot {
                    span {
                        width: 15px;
                        height: 15px;

                        @media screen and (max-width: $vp-sm-max) {
                            width: 13px;
                            height: 13px;
                            box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
                        }
                    }

                    &.active {
                        span {
                            background: $primary-color;
                        }
                    }
                }
            }

        }
    }

    .headerContent h1 {
        @media screen and (max-width: $vp-sm-max) {
            display: none;
        }
    }

    section {
        padding-bottom: 75px;
        border-bottom: 7px solid $primary-color;
        margin-bottom: 40px;

        &:last-child {
            border-bottom: 0 none;
            margin-bottom: 0;
        }
    }

    .postWidget {
        &:last-child {
            @media screen and (max-width: $vp-md-max) and (min-width: $vp-md-min) {
                display: none;
            }
        }
    }

    .more.btn {
        margin-top: 25px;
        cursor: pointer;
        min-width: 33%;

        &.disabled {
            cursor: no-drop;

            .sk-circle {
                opacity: 1;
                width: 20px;
                height: 20px;
            }
        }

        .sk-circle {
            margin: 0 0 0 10px;
            display: inline-block;
            opacity: 0;
            width: 0;
            height: 0;
            @include transition(opacity 0.5s linear 0s, height 0.5s linear 0.5s, width 0.5s linear 0.5s);
        }
    }

    .indexAbout {
        @include span-columns(9);
        @include omega();
        margin-top: -50px;
        padding-top: 50px;

        @media screen and (max-width: $vp-lg-max) {
             @include span-columns(10);
             @include omega();
        }

        @media screen and (max-width: $vp-md-max) {
             @include span-columns(11);
             @include omega();
        }

        @media screen and (max-width: $vp-sm-max) {
             @include span-columns(12);
             @include omega();
        }
    }

    .polaroidWrapper {
        @include span-columns(12);
        @include omega();
        margin-top: 40px;
        margin-bottom: 80px;
        text-align: center;

        & > div {
            background: #FAFAF8;
            display: inline-block;
            margin: 0;
            padding: 10px 10px 25px;
            text-align: center;
            text-decoration: none;
            box-shadow: 0 4px 6px rgba(0,0,0,.3);
            @include transition(all .15s linear);
            z-index:0;
            position:relative;

            @media screen and (max-width: $vp-sm-max) {
                width: 49%;
                max-width: 220px;
            }

            &:first-child {
                @include transform(rotate(-8deg));
            }

            &:nth-child(2) {
                @include transform(rotate(5deg));
                z-index: 3;
                margin-left: -5px;

                @media screen and (max-width: $vp-lg-max) {
                    display: none;
                }
            }

            &:nth-child(3n) {
                @include transform(rotate(-2deg));
            }

            &:nth-child(4n) {
                @include transform(rotate(-9deg));
                margin-left: -5px;

                @media screen and (max-width: $vp-sm-max) {
                    margin-left: 0;
                }
            }

            &:nth-child(5n) {
                @include transform(rotate(8deg));
            }

            // &:hover {
            //     @include transform(rotate(0deg));
            //     @include transform(scale(1.2));
            //     z-index:10;
            //     box-shadow: 0 10px 20px rgba(0,0,0,.7);
            // }

            img {
                display: block;
                width: inherit;

                @media screen and (max-width: 945px) {
                    width: 155px;
                }

                @media screen and (max-width: $vp-sm-max) {
                    width: 100%;
                }
            }
        }
    }

    .indexContribute {
        @include span-columns(9);
        @include shift(1.5);
        @include omega();
        padding-bottom: 75px;

        @media screen and (max-width: $vp-lg-max) {
             @include span-columns(10);
             @include shift(1);
             @include omega();
        }

        @media screen and (max-width: $vp-md-max) {
             @include span-columns(11);
             @include shift(0.5);
             @include omega();
        }

        @media screen and (max-width: $vp-sm-max) {
             @include span-columns(12);
             @include shift(0);
             @include omega();
        }

        .more.btn {
            margin-top: 40px;
        }
    }

    // .locationWidget {
    //     margin: 0 2.6% 25px;

    //     @media screen and (max-width: $vp-lg-max) {
    //         margin: 0 1.5% 25px;
    //         width: 22.75%;
    //     }

    //     @media screen and (max-width: $vp-md-max) {
    //         width: 47%;
    //         margin: 0 2% 25px;
    //         max-width: 100%;
    //     }

    //     @media screen and (max-width: $vp-sm-max) {
    //         width: 100%;
    //         max-width: 436px;
    //         margin: 25px auto;
    //         display: block;
    //     }

    //     // &:first-child,
    //     // &.first {
    //     //     margin-left: 0;
    //     // }

    //     &:nth-child(2) {
    //         margin-left: 0;

    //         @media screen and (max-width: $vp-sm-max) {
    //             margin-left: auto;
    //         }
    //     }

    //     &:nth-child(3) {
    //         @media screen and (max-width: $vp-md-max) {
    //             margin-right: 0;
    //         }

    //         @media screen and (max-width: $vp-sm-max) {
    //             margin-right: auto;
    //         }

    //     }

    //     &:nth-child(4) {
    //         @media screen and (max-width: $vp-md-max) {
    //             margin-left: 0;
    //         }

    //         @media screen and (max-width: $vp-sm-max) {
    //             margin-left: auto;
    //         }

    //     }


    //     &:nth-child(5){
    //         margin-right: 0;

    //         @media screen and (max-width: $vp-sm-max) {
    //             margin-right: auto;
    //         }
    //     }

    //     img {
    //         margin-left: -50%;

    //         @media screen and (max-width: $vp-md-max) {
    //             margin-left: 0;
    //         }
    //     }

    // }
}
