.post {

    .postInner {
        @include span-columns(9);
        @include shift(1.5);
        @include omega();

        @media screen and (max-width: $vp-lg-max) {
             @include span-columns(10);
             @include shift(1);
             @include omega();
        }

        @media screen and (max-width: $vp-md-max) {
             @include span-columns(11);
             @include shift(0.5);
             @include omega();
        }

        @media screen and (max-width: $vp-sm-max) {
             @include span-columns(12);
             @include shift(0);
             @include omega();
        }

    }

    h1 {
        margin-top: 55px;
        margin-bottom: 5px;
        line-height: 1.3;

        @media screen and (max-width: $vp-sm-max) {
            margin-top: 15px;
        }

        @media screen and (max-width: 479) {
            margin-top: 0;
        }

    }

    .date {
        color: #999;
        padding-top: 0;
        margin-top: 0;
        font-style: italic;
        margin-bottom: 10px;
    }

    .btn {
        margin: 40px 0px;
    }

    img {
        display: inline-block;
        max-width: 100%;
        height: auto;
        margin: 1em 0;
        border: 3px solid #ccc;
        box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);

        @media screen and (max-width: 767px) {
            max-width: 100%;
        }
    }

    figure {
        margin: 0 0 2em 0;
        width: 100% !important;

        img {
            margin-bottom: 0;
        }

        figcaption {
            font-size: 14px;
            font-style: italic;
        }
    }

    ul {
        li {
            margin-bottom: 20px;
        }
    }

    .categories {
        margin: 0 0 35px 0;
        padding: 0 0 25px 0;
        border-bottom: 1px solid #ccc;

        @media screen and (max-width: 479px) {
            padding-bottom: 15px;
        }

        li {
            display: inline-block;
            margin-right: 15px;
            color: #575757;
            font-size: 16px;
            position: relative;

            &:after {
                content: " ";
                width: 1px;
                height: 14px;
                position: absolute;
                right: -8px;
                bottom: 7px;
                background: #575757;;
            }

            &:last-child {
                margin-right: 0;

                &:after {
                    display: none;
                }
            }

            a {
                color: #575757;
                text-decoration: none;
                color: $secondary-color;

                &:hover,
                &:active,
                &:focus {
                    border-bottom: 1px solid;
                }
            }
        }
    }

    .authorBlock {
        border-top: 1px solid;
        border-bottom: 1px solid;
        padding: 25px 10px;
        margin-bottom: 100px;

        @media screen and (max-width: 479px) {
            margin-bottom: 60px;
        }

        &__desc {
            font-style: italic;
            max-width: 700px;
        }

        &__link {

            a {
                color: $teal;
                position: relative;
                margin-right: 15px;

                &:last-child {
                    &:after {
                        display: none;
                    }
                }

                &:after {
                    content: " ";
                    position: absolute;
                    right: -10px;
                    top: 1px;
                    width: 1px;
                    height: 20px;
                    background: $black;
                }
            }
        }
    }

    .headerContent {
        @media screen and (max-width: $vp-sm-max) {
            display: none;
        }
    }

    hr {
        margin: 0 0 35px 0;
        padding: 0 0 25px 0;
        border-bottom: 1px solid #ccc;
    }

}
