extends ../layout

block content
    .container.index
        h1.pageHeading Cambodia
        .postWidget__wrapper
        for post in wordpress.post
            - for category in post.categories
                if  (category.name == "Cambodia")
                  include ../templates/post





