extends ../layout

block content
    .container.index
        h1.pageHeading Colombia
        .postWidget__wrapper
        for post in wordpress.post
            - for category in post.categories
                if  (category.name == "Colombia")
                  include ../templates/post





