extends ../layout

block content
    .container.index
        h1.pageHeading South America
        .postWidget__wrapper
        for post in wordpress.post
            - for category in post.categories
                if  (category.name == "South America")
                  include ../templates/post





