extends ../layout

block content

    // script.
    //     $.get config.api_url_categories, (res) ->
    //       console.log(res)
    //       categories = res.categories

    .container.index
        //- - each post in wordpress.post
          //- each category, index in post.categories
              //- if (category.name == "Vietnam")
                //- h1.pageHeading= index + " foo " + category.name

        //- ul
          //- - for category in categories
            //- li= category.name
        h1.pageHeading Vietnam
        .postWidget__wrapper
        for post in wordpress.post
            - for category in post.categories
                if  (category.name == "Vietnam")
                  include ../templates/post

        //- pre= JSON.stringify(wordpress.post, null, 2)



