extends layout

block meta
  title #{item.name} - Roaming Love
  meta(name='description', content='Read first-hand stories about #{item.name} written by real travelers.')


block content
    include ../includes/header-window.jade
    .container
        .postInner
            .headerContent
                img(src=item.description)
                h1= item.name

            //- h1= item.name
            //- .postWidget__wrapper
            .postWidget__wrapper
                for post in records.post
                    - for category in post.categories
                        if  (category.name == item.name)
                          include templates/post

            //- pre= JSON.stringify(item, null, 2)
            //- pre= JSON.stringify(records.post, null, 2)
