extends layout

block meta
  title About - Roaming Love


block content
    include ../includes/header-window.jade
    .container.post
        .postInner
            .headerContent
                img(src="https://adminroaminglove.com/wp-content/uploads/2016/09/window9.jpg")
                h1 About
            section
                //- h1 What is Roaming Love?
                //- hr
                //- p #[a(href="/post/hello.html") When Andrew and I first began traveling together], people would ask us about our trips. The usual comment was, “Wow! I could never travel like you do.” It got us thinking. Why not? Travel is for everyone and we believe it is necessary for a happy and balanced life.
                //- p When Andrew and I first began traveling together, people would ask us about our trips. The usual comment was, “Wow! I could never travel like you do.” It got us thinking. Why not? Travel is for everyone and we believe it is necessary for a happy and balanced life.
                //- p Roaming Love is for the intimidated but interested potential traveler. Roaming Love is for the experienced traveler with too many stories to count. Just like travel, Roaming Love is for anyone who has a story to share.
                //- p Do you have a travel story to tell? Contribute to our online community! You don't need to be a professional writer to tell a good story.
                //- p &nbsp;
                h1.pageHeading <span class="chevronsRight">>></span> What is Roaming Love?
                p Travel is for everyone, and so is Roaming Love.
                p We created this community after seeing too many social media celebrities make travel appear elite, glamourous and inaccessible.
                p We allow people from around the world to contribute their travel stories and photographs for online publication. We hope these stories inspire others to travel, see the world, and join our community.

                h1.pageHeading <span class="chevronsRight">>></span> Want to be featured on Roaming Love?
                p Do you have a travel story to tell?  Have you been somewhere that you LOVED?
                p Contribute to our online community! You don’t need to be a professional writer or blogger to tell a good story and inspire others.
                p Others want to hear about where you’ve been and what you thought of it!
                .btnWrapper
                    a.more.btn.btnSecondary(href="/contribute.html") <span class="chevronsRight">>></span> Contribute Your Story Now


