extends layout

block content
    .container.post
        .postInner
            .headerContent
                img(src="http://107.170.229.16/wp-content/uploads/2016/09/window9.jpg")
                h1 About
            section
                h1 What is Roaming Love?
                hr
                p #[a(href="/post/hello.html") When Andrew and I first began traveling together], people would ask us about our trips. The usual comment was, “Wow! I could never travel like you do.” It got us thinking. Why not? Travel is for everyone and we believe it is necessary for a happy and balanced life.
                p Roaming Love is for the intimidated but interested potential traveler. Roaming Love is for the experienced traveler with too many stories to count. Just like travel, Roaming Love is for anyone who has a story to share.
                p Do you have a travel story to tell? Contribute to our online community! You don't need to be a professional writer to tell a good story.
                p &nbsp;


