extends layout

block meta
  title Contribue - Roaming Love
  meta(name='description', content='Do you have a travel story to tell? Contribute to our online community! You do not need to be a professional writer to tell a good story.')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.css')
  


block content
    .container.contribute
            .headerContent
                img(src="https://adminroaminglove.com/wp-content/uploads/2016/09/window5.jpg")
                h1 Contribute

            section
                h1 Tell us your travel story!
                p Do you have a travel story to tell? Contribute to our online community! You don't need to be a professional writer to tell a good story.

                p Guidelines to consider when submitting your travel story to Roaming Love:
                ul
                    li We want a first-hand account of your experiences
                    li We do not want blog posts that have already been posted on another site. Please submit original content only
                    li Please only submit photos that you own
                    li Please caption photos (if applicable)
                    li Please check grammar and spelling before sending your story to Roaming Love

                form(id="form-contribute" name="contribute" netlify netlify-honeypot="botField" class="formDefault formContribute")
                    fieldset.formContribute__story
                        legend Your Story
                        label(for="title") Story Title
                        input(name="title" id="title")
                        label(for="story") Your Story
                        textarea(name="story" id="story" rows="10")

                    .clearfix
                        fieldset.formContribute__bio
                            legend Your Bio
                            label(for="fullName") Full Name
                            input(name="fullName" id="fullName")
                            label(for="email") Email Address (we won't publish this)
                            input(name="email" id="email")
                            label(for="website") Your Website (optional)
                            input(name="website" id="website")
                            label(for="instagram") Your Instagram (optional)
                            input(name="instagram" id="instagram")
                            label(for="bio") Short Bio (optional)
                            input(name="bio" id="bio")

                        fieldset.formContribute__photos
                            legend Your Photos
                            label(for="image1") Your Photo #1
                            input(name="image1" id="image1" type="file")
                            label(for="image2") Your Photo #2
                            input(name="image2" id="image2" type="file")
                            label(for="image3") Your Photo #3
                            input(name="image3" id="image3" type="file")
                            label(for="image4") Your Photo #4
                            input(name="image4" id="image4" type="file")

                    div.hide
                        label(for="botField")
                        input(name="botField" id="botField" placeholder="botField")

                    div.formContribute__guidelines
                        p By submitting your story to us, you agree with our policies:
                        ul
                            li Roaming Love does not have to post your story after submission
                            li You must own the content you are submitting
                            li You will keep all rights to your media after submitting
                            li Roaming Love does not pay for contributor posts
                            li You are not an employee of Roaming Love after contributing posts
                        //- p Thanks for sharing your stories with our community!

                    button(type="submit" class="btnSecondary") Submit Your Story

                // form(id="formContributePhotos" name="contribute2" netlify netlify-honeypot="botField" class="formDefault formContributePhotos dropzone" action="#")
                //     #dropzone
                //         .dz-default.dz-message
                //             span Drop files here to upload
                //     //- div.fallback 
                //     //-     input(type="file" name="file")
                //     input(type="text" name="foo" id="foo" placeholder="foo") 
                //     div.hide
                //         label(for="botField")
                //         input(name="botField" id="botField" placeholder="botField")
                //     button(type="submit" class="btnSecondary" id="submitformContributePhotos") Submit


                form(id="formContributePhotos" name="formContributePhotos" netlify netlify-honeypot="botField" class="formDefault formContributePhotos dropzone" action="#")
 
                    div.hide
                        label(for="botField")
                        input(name="botField" id="botField" placeholder="botField")
                button(class="btnSecondary" id="submit-all") Submit

                div(id="preview-template" style="display:none;")
                    .dz-preview.dz-file-preview
                        .dz-image
                            img(data-dz-thumbnail)
                        .dz-details
                            .dz-filename
                                span(data-dz-name)
                            .dz-size(data-dz-size)
                        .dz-progress
                            span(class="dz-upload" data-dz-uploadprogress)
                        .dz-success-mark
                            <svg width="54px" height="54px" viewBox="0 0 54 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"><title>Check</title><defs></defs><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">  <path d="M23.5,31.8431458 L17.5852419,25.9283877 C16.0248253,24.3679711 13.4910294,24.366835 11.9289322,25.9289322 C10.3700136,27.4878508 10.3665912,30.0234455 11.9283877,31.5852419 L20.4147581,40.0716123 C20.5133999,40.1702541 20.6159315,40.2626649 20.7218615,40.3488435 C22.2835669,41.8725651 24.794234,41.8626202 26.3461564,40.3106978 L43.3106978,23.3461564 C44.8771021,21.7797521 44.8758057,19.2483887 43.3137085,17.6862915 C41.7547899,16.1273729 39.2176035,16.1255422 37.6538436,17.6893022 L23.5,31.8431458 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z" id="Oval-2" stroke-opacity="0.198794158" stroke="#747474" fill-opacity="0.816519475" fill="#FFFFFF" sketch:type="MSShapeGroup"></path></g></svg>
                        .dz-error-mark
                            <svg width="54px" height="54px" viewBox="0 0 54 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"><title>Error</title><defs></defs><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"><g id="Check-+-Oval-2" sketch:type="MSLayerGroup" stroke="#747474" stroke-opacity="0.198794158" fill="#FFFFFF" fill-opacity="0.816519475"><path d="M32.6568542,29 L38.3106978,23.3461564 C39.8771021,21.7797521 39.8758057,19.2483887 38.3137085,17.6862915 C36.7547899,16.1273729 34.2176035,16.1255422 32.6538436,17.6893022 L27,23.3431458 L21.3461564,17.6893022 C19.7823965,16.1255422 17.2452101,16.1273729 15.6862915,17.6862915 C14.1241943,19.2483887 14.1228979,21.7797521 15.6893022,23.3461564 L21.3431458,29 L15.6893022,34.6538436 C14.1228979,36.2202479 14.1241943,38.7516113 15.6862915,40.3137085 C17.2452101,41.8726271 19.7823965,41.8744578 21.3461564,40.3106978 L27,34.6568542 L32.6538436,40.3106978 C34.2176035,41.8744578 36.7547899,41.8726271 38.3137085,40.3137085 C39.8758057,38.7516113 39.8771021,36.2202479 38.3106978,34.6538436 L32.6568542,29 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z" id="Oval-2" sketch:type="MSShapeGroup"></path></g>      </g></svg>
                        .dz-error-message
                            span(data-dz-errormessage)
                        input(type="text" placeholder="Caption (optional)" maxlength="1000" name="caption")


block JS
    script(src="/js/dropzone.min.js")
    script
        :uglify-js
            // Dropzone.autoDiscover = false;
            // $("#dropzone").dropzone({ 
            //     url: $("#formContributePhotos").attr("action"),
            //     previewTemplate: document.getElementById('preview-template').innerHTML,
            //     autoProcessQueue: false,
            //     uploadMultiple: true,
            //     parallelUploads: 100,
            //     maxFiles: 100,
            //     init: function() {
            //         var myDropzone = this;

            //         // First change the button to actually tell Dropzone to process the queue.
            //         // this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
            //         document.getElementById('submitformContributePhotos').addEventListener("click", function(e) {
            //           // Make sure that the form isn't actually being sent.
            //           e.preventDefault();
            //           e.stopPropagation();
            //           myDropzone.processQueue();
            //         });

            //         // Listen to the sendingmultiple event. In this case, it's the sendingmultiple event instead
            //         // of the sending event because uploadMultiple is set to true.
            //         this.on("sendingmultiple", function() {
            //           // Gets triggered when the form is actually being sent.
            //           // Hide the success button or the complete form.
            //         });
            //         this.on("successmultiple", function(files, response) {
            //           // Gets triggered when the files have successfully been sent.
            //           // Redirect user or notify of success.
            //         });
            //         this.on("errormultiple", function(files, response) {
            //           // Gets triggered when there was an error sending the files.
            //           // Maybe show form again, and notify user of error
            //         });
            //     }

            // });

            
            // Dropzone.options.formContributePhotos = {
            //   previewTemplate: document.getElementById('preview-template').innerHTML,
            //   previewsContainer:  "#dropzone",
            //   clickable: "#dropzone",
            //   autoProcessQueue: false,
            //   uploadMultiple: true,
            //   parallelUploads: 100,
            //   maxFiles: 100,

            //   // The setting up of the dropzone
            //   init: function() {
            //     var myDropzone = this;

            //     // First change the button to actually tell Dropzone to process the queue.
            //     this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
            //       // Make sure that the form isn't actually being sent.
            //       e.preventDefault();
            //       e.stopPropagation();
            //       myDropzone.processQueue();
            //     });

            //     // Listen to the sendingmultiple event. In this case, it's the sendingmultiple event instead
            //     // of the sending event because uploadMultiple is set to true.
            //     this.on("sendingmultiple", function() {
            //       // Gets triggered when the form is actually being sent.
            //       // Hide the success button or the complete form.
            //     });
            //     this.on("successmultiple", function(files, response) {
            //       // Gets triggered when the files have successfully been sent.
            //       // Redirect user or notify of success.
            //     });
            //     this.on("errormultiple", function(files, response) {
            //       // Gets triggered when there was an error sending the files.
            //       // Maybe show form again, and notify user of error
            //     });
            //   }
            // };

            // Dropzone.options.formContributePhotos = {

            //   // Prevents Dropzone from uploading dropped files immediately
            //   autoProcessQueue: false,

            //   init: function() {
            //     var submitButton = document.querySelector("#submit-all")
            //         myDropzone = this; // closure

            //     submitButton.addEventListener("click", function() {
            //       myDropzone.processQueue(); // Tell Dropzone to process all queued files.
            //     });

            //     // You might want to show the submit button only when 
            //     // files are dropped here:
            //     this.on("addedfile", function() {
            //       // Show submit button here and/or inform user to click it.
            //     });

            //   }
            // };

