extends layout

block meta
  title Contact - Roaming Love
  meta(name='description', content='Contact Roaming Love here. Thanks for reaching out. We are open to collaborations and sponsorships.')

block content
    .container.post
        .postInner
            .headerContent
                img(src="http://107.170.229.16/wp-content/uploads/2016/09/window4.jpg")
                h1 Contact
            section
                h1 Thanks for Reaching Out
                hr
                p Roaming Love is open to collaborations and sponsorships. Feel free to contact us here:
                p
                    a(href="mailto:roaminglovetravel@gmail.com") roaminglovetravel@gmail.com
                p &nbsp;

