extends layout

block meta
  title Contribue - Roaming Love
  meta(name='description', content='Do you have a travel story to tell? Contribute to our online community! You do not need to be a professional writer to tell a good story.')


block content
    .container.post
        .postInner
            .headerContent
                img(src="http://107.170.229.16/wp-content/uploads/2016/09/window5.jpg")
                h1 Contribute
            section
                h1 Tell us your travel story!
                hr
                p Please email us your stories and photographs to:
                p
                    a(href="mailto:roaminglovetravel@gmail.com") roaminglovetravel@gmail.com
                p Please include the following when submitting your story:
                ul
                    li Full Name
                    li Website (if applicable)
                    li Instagram (if you want this published)
                    li Story title
                    li Your story
                    li Your photographs
                p Guidelines to consider when submitting your travel story to Roaming Love:
                ul
                    li We want a first-hand account of your experiences
                    li We do not want blog posts that have already been posted on another site. Please submit original content only
                    li Please only submit photos that you own
                    li Please caption photos (if applicable)
                    li Please check grammar and spelling before sending your story to Roaming Love
                p By submitting your story to us, you agree with our policies:
                ul
                    li Roaming Love does not have to post your story after submission
                    li You must own the content you are submitting
                    li You will keep all rights to your media after submitting
                    li Roaming Love does not pay for contributor posts
                    li You are not an employee of Roaming Love after contributing posts
                p Thanks for sharing your stories with our community!
                p &nbsp;

