extends layout

block meta
  title Food - Roaming Love
  meta(name='description', content='Read articles about food and travel from around the world, written by real travelers.')


block content
    include ../includes/header-window.jade
    .container.food
        .headerContent
            img(src="https://adminroaminglove.com/wp-content/uploads/2016/09/window2.jpg")
            h1 Food
        .postWidget__wrapper
            for post in wordpress.post
                - for tag in post.tags
                    if  (tag.name == "Food")
                      include templates/post

