extends layout

block meta
  title Contribue - Roaming Love
  meta(name='description', content='Do you have a travel story to tell? Contribute to our online community! You do not need to be a professional writer to tell a good story.')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.css')
  


block content
    .container
        section 
            h1 Thanks for your submission