extends layout

block meta
	title Contribue - Roaming Love
	meta(name='description', content='Do you have a travel story to tell? Contribute to our online community! You do not need to be a professional writer to tell a good story.')

block content
	.container
		section
			h1#anchor Thanks for your submission
block JS
	script
		:uglify-js
			$(window).load(function() {
				var data = FormSubmission.data;
				console.log(data);
				$("<div>Hi " + data.NAME + "</div>").appendTo("#anchor");
			});