extends layout

block meta
  title Food - Roaming Love
  meta(name='description', content='Read articles about hotels around the world, written by real travelers.')

block content
    .container.hotels
        .headerContent
            img(src="https://adminroaminglove.com/wp-content/uploads/2016/09/window8.jpg")
            h1 Hotels
        .postWidget__wrapper
            for post in wordpress.post
                - for tag in post.tags
                    if  (tag.name == "Hotels")
                      include templates/post





