extends layout

block meta
  title Roaming Love
  meta(name='description', content='Roaming Love is an online community of travel storytellers. We allow readers a personal, honest look into our trips. We hope our stories inspire others to travel.')

block content
    .container.index
        .headerContent.js--hide-on-top
            img(src="https://adminroaminglove.com/wp-content/uploads/2016/09/window1.jpg")
            h1 Whats Your Travel Story?
        //- section.section.bg-lightgray
        section
            h1.pageHeading >> Recent Posts

            .postWidget__wrapper
              each post, index in wordpress.post
                if index < 6
                    include templates/post
            .btnWrapper
                .more.more--3inarow.btn.btnSecondary.disabled >> More Posts
                  .sk-circle
                    .sk-circle1.sk-child
                    .sk-circle2.sk-child
                    .sk-circle3.sk-child
                    .sk-circle4.sk-child
                    .sk-circle5.sk-child
                    .sk-circle6.sk-child
                    .sk-circle7.sk-child
                    .sk-circle8.sk-child
                    .sk-circle9.sk-child
                    .sk-circle10.sk-child
                    .sk-circle11.sk-child
                    .sk-circle12.sk-child
        section
            h1.pageHeading >> Top Destinations
            a(href="/places/colombia.html" class="locationWidget")
                h6 Colombia
                img(src="https://roaminglove.imgix.net/2016/08/IMG_4189_opt.jpg?w=436&h=240&fit=crop&crop=entropy")

            a(href="/places/vietnam.html" class="locationWidget")
                h6 Vietnam
                img(src="https://roaminglove.imgix.net/2016/04/img_9601.jpg?w=436&h=240&fit=crop&crop=entropy")

            a(href="/places/italy.html" class="locationWidget")
                h6 Italy
                img(src="https://roaminglove.imgix.net/2016/09/IMG_6520.jpg?w=436&h=240&fit=crop&crop=entropy")

            a(href="/places/alaska.html" class="locationWidget")
                h6 Alaska
                img(src="https://roaminglove.imgix.net/2016/09/IMG_0348_opt.jpg?w=436&h=240&fit=crop&crop=entropy")
            .btnWrapper
                a.more.btn.btnSecondary(href="/Destinations.html") >> More Destinations
