extends layout

block content
    .container
        h1.pageHeading Recent Posts
        for post in wordpress.post
          div.postWidget: a(href=post._url)
            .postWidget__img
              if post.featured_image
                img(src=post.featured_image class="img-responsive")
              else
                  img(src="http://placehold.it/350x200?text=roaming+love" class="img-responsive")
            .postWidget__content
              span.postWidget__title= post.title
              span.postWidget__date= moment(post.date).format("MMMM DD, YYYY")
              //- .postWidget__preview!= string(post.content).truncate(50).s
            //- pre= JSON.stringify(post, null, 2)




