extends layout

block content
    .container
        h1.pageHeading Recent Posts
        .postWidget__wrapper
          for post in wordpress.post
            include templates/post
        //.more.btn More Posts





