.footer {
    margin: 55px 0 25px;
    position:relative;

    @media screen and (max-width: $vp-md-max) {
        margin: 35px 0 25px;
    }

    @media screen and (max-width: $vp-sm-max) {
        margin-top: 200px;
        margin-bottom: 0;
    }

    // @media screen and (max-width: 479px) {
    //     margin: 30px 0 0 0;
    // }

    hr {
        background: $primary-color;

        @media screen and (max-width: $vp-xs-max) {
            display: none;
        }
    }

    .section{
        background: $dark-gray;
        background-image: url(//roaminglove.imgix.net/2017/05/footer-bg-logo.png);
        background-position: 305px 80px;
        background-repeat: no-repeat;
        color: $white;
        @include outer-container;
        margin-top: 20px;
        padding-top: 50px;
        padding-bottom: 50px;

        @media screen and (max-width: $vp-lg-max) {
            background-position: 225px 95px;
        }

        @media screen and (max-width: $vp-md-max) {
            background-position: 15px 119px;
            background-size: 200px;
        }

        @media screen and (max-width: $vp-md-max) {
            background-position: 330px 88px;
            background-size: auto;
        }

        @media screen and (max-width: 550px) {
            background-position: 146px 85px;
            background-size: auto;
        }

        @media screen and (max-width: 479px) {
            margin-left: -20px;
            margin-right: -20px;
            background-position: 175px 320px;
        }
    }

    a {
        color: $primary-color;

        &:hover,
        &:active,
        &:focus {
            color: $white;
            border-bottom: 1px solid;
        }
    }

    &__summary {
        @include span-columns(5 of 12);
        font-weight: 100;
        font-size: 16px;
        text-align: right;
        margin-top: 4px;
        position: relative;

        @media screen and (max-width: $vp-lg-max) {
            padding-right: 50px;
        }

        @media screen and (max-width: $vp-md-max) {
            font-size: 12px;
            padding-right: 60px;
        }

        @media screen and (max-width: $vp-sm-max) {
            @include span-columns(7 of 12);
            padding-right: 0;
        }

        @media screen and (max-width: 479px) {
            @include span-columns(12 of 12);
            text-align: center;
            margin-bottom: 30px;
            font-size: 15px;
        }


        // &:after {
        //     content: " ";
        //     position: absolute;
        //     height: 100%;
        //     width: 1px;
        //     top: 0;
        //     left: -50px;
        //     background: white;

        //     @media screen and (max-width: $vp-lg-max) {
        //         display: none;
        //     }
        // }

    }

    &__newsletter {
        @include span-columns(5 of 12);

        .formNewsletter {

            @media screen and (max-width: $vp-sm-max) {
                position: absolute;
                height: 200px;
                top: -200px;
                left: 0;
                width: 100%;
                padding: 0 25px;
                color: $black;
                text-align: center;
            }

            &__form {
                display: inline-block;
            }

            &__title {
                width: 320px;
                float: left;
                margin-bottom: 5px;
                padding-right: 5px;
                border-bottom: 1px solid;

                @media screen and (max-width: $vp-md-max) {
                    width: auto;
                }

                @media screen and (max-width: $vp-sm-max) {
                    float: none;
                    margin-bottom: 15px;
                    padding-bottom: 5px;
                }
            }

            &__successMessage {
                float: right;

                @media screen and (max-width: $vp-sm-max) {
                    float: none;
                }
            }

            &__main {
                input {
                    @media screen and (max-width: $vp-md-max) {
                        width: 185px;
                    }
                    @media screen and (max-width: $vp-xs-max) {
                        width: 190px;
                    }
                }
            }

            .sk-circle {
                top: 45px;
                left: 140px;
                .sk-child:before {
                    background-color: $white;

                     @media screen and (max-width: $vp-sm-max) {
                        background-color: $black;
                    }
                }
            }
        }
    }


    &__links {
        @include span-columns(2 of 12);

        // @media screen and (max-width: $vp-lg-max) {
        //     @include span-columns(7 of 12);
        // }

        // @media screen and (max-width: $vp-md-max) {
        //     @include span-columns(6 of 12);
        // }

        @media screen and (max-width: $vp-sm-max) {
            @include span-columns(5 of 12);
        }

        @media screen and (max-width: 479px) {
            @include span-columns(12 of 12);
        }

        nav {
            margin-right: 20px;

            @media screen and (max-width: $vp-sm-max) {
                float: right;
                margin-right: 10px;
            }


            @media screen and (max-width: 479px) {
                float: none;
                margin-right: 0;
            }

            ul {
                margin: 0 0 0 40px;
                padding: 0;
                list-style: none;
                float: right;

                &:last-child {
                    margin-right: 0;
                }

                @media screen and (max-width: $vp-md-max) {
                    &.footer__list--destinations {
                        display: none;
                    }
                }

                @media screen and (max-width: $vp-sm-max) {
                    float: none;
                    text-align: left;
                    margin: 0;
                }

                @media screen and (max-width: 479px) {
                    text-align: center;
                }

                li {
                    margin-bottom: 7px;

                    a {
                        text-decoration: none;
                        text-transform: lowercase;
                        font-family: $displayFont;
                        font-size: 20px;

                        @media screen and (max-width: 479px) {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    .instagramLink {
        margin-top: 20px;
        color: $black;
        float: none;
        display: block;
        max-width: 250px;
        margin-left: auto;

        &:hover,
        &:active,
        &:focus {
            background: $primary-color;
        }


        @media screen and (max-width: $vp-sm-max) {
            margin-top: 30px;
        }

        @media screen and (max-width: $vp-xs-max) {
            float: none;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            display: block;
            text-align: center;
        }

        span {
            @media screen and (max-width: $vp-sm-max) {
                font-size: 12px;
            }

            @media screen and (max-width: $vp-xs-max) {
                font-size: 14px;
            }
        }
    }

}




// .footer {
//     margin-top: 70px;
//     text-align: center;
//     padding: 30px 0;
//     position: relative;

//     @media screen and (max-width: 479px) {
//         font-size: 13px;
//         margin-top: 40px;
//     }

//     &:before {
//         content: " ";
//         width: 70%;
//         height: 2px;
//         margin-left: auto;
//         margin-right: auto;
//         background: #2C2C2C;
//         position: absolute;
//         left: 15%;
//     }

//     .bio {
//         margin-top: 40px;
//     }
// }
