.header {
    padding: 25px 0 0 0;

    .logoWrapper {
        @include span-columns(4);

        @media screen and (max-width: $vp-md-max) {
            @include span-columns(3 of 10);
        }

        @media screen and (max-width: $vp-sm-max) {
            @include span-columns(7);
        }

        @media screen and (max-width: $vp-xs-max) {
            @include span-columns(9);
        }

        .logo {
            display: inline-block;
            margin-bottom: 12px;
            position: relative;
            z-index: 99;
        }
    }

    .navWrapper {
        @include span-columns(8);
        @include omega();

        @media screen and (max-width: $vp-md-max) {
            @include span-columns(7 of 10);
            @include omega();
        }

        @media screen and (max-width: $vp-sm-max) {
            @include span-columns(5);
            @include omega();
        }

        @media screen and (max-width: $vp-xs-max) {
            @include span-columns(3);
            @include omega();
        }

        .nav-btn {
            display: none;

            @media screen and (max-width: $vp-sm-max) {
                display: block;
                text-align: right;
                text-decoration: none;
                margin-top: -1px;

                .menu-text {
                    position: relative;
                    top: -4px;
                }

                .hamburger {
                    padding-right: 0;
                }
            }

             @media screen and (max-width: $vp-xs-max) {
                .menu-text {
                    display: none;
                }
            }
        }

        nav {
            text-align: right;
            margin-top: 29px;

            @media screen and (max-width: $vp-md-max) {
                margin-top: 20px;
            }

            @media screen and (max-width: $vp-sm-max) {
                margin-top: 0px;
            }

            ul {
                margin: 0;
                padding: 0;

                @media screen and (max-width: $vp-sm-max) {
                    display: none;
                    position: absolute;
                    z-index: 10;
                    right: 0;
                    background: #fff;
                    padding: 10px 25px 10px 25px;
                    width: 100%;
                    text-align: center;
                    border-bottom: 7px solid $primary-color;
                    margin-top: 10px;
                }

                @media screen and (max-width: $vp-xs-max) {
                  margin-top: 0px;
                }

                li {
                    list-style: none;
                    display: inline-block;
                    margin-right: 25px;

                    @media screen and (max-width: $vp-md-max) {
                        margin-right: 7px;
                    }

                    @media screen and (max-width: $vp-sm-max) {
                        margin-right: 0;
                        display: block;
                    }

                    &.linkOverline {
                      &:before {
                        @media screen and (max-width: $vp-sm-max) {
                          display: none;
                        }
                      }
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        text-decoration: none;
                        font-size: 23px;

                        @media screen and (max-width: $vp-md-max) {
                            font-size: 18px;
                            padding: 7px;
                        }

                        @media screen and (max-width: $vp-sm-max) {
                            display: block;
                            padding: 5px 0;
                        }
                    }
                }
            }
        }
    }

    .instagramLink {
        border-radius: 0 0 11px 11px;
        position: absolute;
        right: 0px;
        top: -24px;

        &:hover,
        &:active,
        &:focus {
            background: $primary-color;
            color: #fff;
        }

        @media screen and (max-width: $vp-lg-max) {
            right: 20px;
        }

        @media screen and (max-width: $vp-sm-max) {
            display: none;
        }
    }


}



// Hamburger from: https://jonsuh.com/hamburgers/
// ==================================================
$hamburger-padding-x                       : 15px !default;
$hamburger-padding-y                       : 15px !default;
$hamburger-layer-width                     : 40px !default;
$hamburger-layer-height                    : 4px !default;
$hamburger-layer-spacing                   : 6px !default;
$hamburger-layer-color                     : #000 !default;
$hamburger-layer-border-radius             : 4px !default;
$hamburger-hover-opacity                   : 0.7 !default;
$hamburger-hover-transition-duration       : 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;
// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter    : opacity(50%) !default;

.hamburger {
  padding: $hamburger-padding-y $hamburger-padding-x;
  display: inline-block;
  cursor: pointer;

  transition-property: opacity, filter;
  transition-duration: $hamburger-hover-transition-duration;
  transition-timing-function: $hamburger-hover-transition-timing-function;

  // Normalize (<button>)
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  &:hover {
    @if $hamburger-hover-use-filter == true {
      filter: $hamburger-hover-filter;
    }
    @else {
      opacity: $hamburger-hover-opacity;
    }
  }
}

.hamburger-box {
  width: $hamburger-layer-width;
  height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: $hamburger-layer-height / -2;

  &,
  &::before,
  &::after {
    width: $hamburger-layer-width;
    height: $hamburger-layer-height;
    background-color: $hamburger-layer-color;
    border-radius: $hamburger-layer-border-radius;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }

  &::after {
    bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }
}

/*
* Spin
*/
.hamburger--spin {
.hamburger-inner {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

  &::before {
    transition: top 0.1s 0.34s ease-in,
                opacity 0.1s ease-in;
  }

  &::after {
    transition: bottom 0.1s 0.34s ease-in,
                transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}

&.is-active {
  .hamburger-inner {
    transform: rotate(225deg);
    transition-delay: 0.14s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

    &::before {
      top: 0;
      opacity: 0;
      transition: top 0.1s ease-out,
                  opacity 0.1s 0.14s ease-out;
    }

    &::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.1s ease-out,
                  transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
}
}

.headerWindow {
  padding-bottom: 25px;

  @media screen and (max-width: 479px) {
    padding-bottom: 0;
  }


    .parallax-window {
        margin-bottom: 20px;

        @media screen and (max-width: $vp-sm-max) {
          border-top: 7px solid $primary-color;
        }
    }

    hr {
        margin: 0;

        @media screen and (max-width: $vp-sm-max) {
          display: none;
        }
    }

    &.is--post {
      .parallax-static-content {
        @media screen and (max-width: $vp-sm-max) {
          background: rgba(0, 0, 0, 0.3) !important
        }

        h1 {
          @media screen and (max-width: $vp-sm-max) {
            display: none;
          }
        }
      }
    }
}
