.locationWidget {
    display: inline-block;
    width: 44%;
    margin: 0 3% 25px;
    height: 240px;
    max-width: 240px;
    // width: 240px;
    //margin: 0px 15px 25px;
    position: relative;
    border: 3px solid $white;
    overflow: hidden;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);

    // @media screen and (max-width: $vp-lg-max) {
    //     width: 44%;
    //     margin: 0 3% 25px;
    // }

    @media screen and (max-width: $vp-md-max) {
        width: 100%;
    }

    &:before {
        content: " ";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.2);
        z-index: 1;
    }

    h6 {
        position: absolute;
        width: 100%;
        top: 35%;
        color: #fff;
        font-size: 36px;
        text-align: center;
        text-decoration: none;
        z-index: 2;
        margin: 0;
        font-family: $displayFont;
        letter-spacing: 2px;

        @media screen and (max-width:$vp-lg-max) and (min-width: $vp-lg-min) {
            font-size: 31px;
        }

        &.longName {
            font-size: 32px;
            
            @media screen and (max-width:$vp-lg-max) and (min-width: $vp-lg-min) {
                font-size: 27px;
            }

        }
    }

    img {
        position: absolute;
        left: 0;
        top: 0;
    }


}
