.postWidget {
    @include span-columns(7 of 15);
    margin-right: 4%;
    padding-right: 1%;
    margin-bottom: 25px;
    line-height: 1.3;
    // background: #fafafa;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: $vp-lg-max) {

    }

    @media screen and (max-width: $vp-md-max) {
         @include span-columns(11);
    }

    @media screen and (max-width: $vp-sm-max) {
        @include span-columns(12);
    }

    a {
        @include outer-container;
    }

    &__img {
        @include span-columns(6);
        height: 185px;
        position: relative;
        overflow: hidden;

        @media screen and (max-width: 479px) {
            @include span-columns(12);
            height: auto;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;

            @media screen and (max-width: 479px) {
                position: relative;
            }
        }
    }

    &__content {
        @include span-columns(6);

        @media screen and (max-width: 479px) {
            @include span-columns(12);
            height: 100px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
        display: block;
        margin-top: 40px;

        @media screen and (max-width: 479px) {
            margin-top: 10px;
        }
    }

    &__date {
        display: block;
        color: $gray;
        font-size: 14px;
    }


    pre {
        width: 200%;
        margin-left: -100%;
    }

}
