footer.footer
    .container
        p.bio Sigournee is a travel enthusiast, photographer, writer and fiance&eacute;
        p.credit Website designed by&nbsp;
            a(href="http://www.andrewgrano.com") Andrew Grano
