header.header
    .patternbg
    .wrapper
        h1.heading
            a(href="/") Roaming Love
        a.subheading(href="/") a travel blog
        //- nav
        //-     ul
        //-         li
        //-             a(href="/photos.html") Photos
        //-         li
        //-             a(href="") Posts


