header.header
    .container.rel
        .logoWrapper
            a(href="/").logo
                img(src="https://www.adminroaminglove.com/wp-content/uploads/2016/09/logo.svg" width="500").img-responsive
        .navWrapper
            a(href="javascript:void(0)").nav-btn#js-mobile-menu
                span.menu-text MENU
                .hamburger.hamburger--spin
                    span.hamburger-box
                        span.hamburger-inner

            a(class="instagramLink" href="https://www.instagram.com/roaminglovetravel/" target="instagram")
                span follow us on instagram
                img(src="https://www.adminroaminglove.com/wp-content/uploads/2016/09/instagram-logo.svg" width="25")

            nav(role="navigation")
                ul#js-navigation-menu.show
                    li.linkOverline
                        a(href="/destinations.html") destinations
                    li.linkOverline
                        a(href="/#about") about
                    li.linkOverline
                        a(href="/contribute.html") contribute
