header.header
    .patternbg
    .wrapper
        h1.heading
            a Roaming Love
        span.subheading a travel blog
        nav
            ul
                li
                    a(href="/photos.html") Photos
                li
                    a(href="") Posts


