header.header
    .patternbg
    .wrapper
        h1.heading
            a(href="/") Roaming Love
        a.subheading(href="/") a travel blog

    nav
        ul
            li
                a(href="/destinations.html") Destinations

        //- nav
        //-     ul
        //-        for post in wordpress.post
        //-             for category in post.categories
        //-                 if (category.name != "Uncategorized")
        //-                     li= category.name


